spring:
  application:
    name: springhwl3
  datasource:
    url: jdbc:h2:mem:test
    username: meg
    password:
    driver-class-name: org.h2.Driver
management:
  endpoint:
    env:
      show-values: ALWAYS
  endpoints:
    web:
      exposure:
        include: env, prometheus, health, info, metric